<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Who is Simply Nickie?</h3>
                </div>
            </div>
            <div class="row">
              <div class="row text-center">
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="service-heading">Who Am I?</h4>
                      <p class="text-muted">I have been doing graphic design since I was twelve. I have done many banners, infographics and social media posts for several different companies and start ups.</p>
                  </div>
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="service-heading">What Do I Do?</h4>
                      <p class="text-muted">I study at Ngee Ann Polytechnic Mass Communication. There, I've honed my designing and writing skills. However, I had begun building my portfolio long before I begun specialising in Mass Comm. At the age of 12, I started designing logos for small companies. By the end of 2016, I was designing infographics and helping create blogs for small companies.</p>
                  </div>
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="service-heading">How Can I Help?</h4>
                      <p class="text-muted">If you need someone to help manage a blog or maybe someone to design a logo or a website for you, I can be of assistance.</p>
                  </div>
              </div>
            </div>
        </div>
    </section>
